/* .card {
    margin: 1rem;
} */
.propcard {
    margin: 1.5rem;
    min-width: 20rem;
    max-width: 200px;
}

.header {
    text-align: center;
}

li {
    list-style: none;
}

.address {
    font-weight: 600;
}
